[submodule "agent-centric-representations-tensorflow"]
	path = agent-centric-representations-tensorflow
	url = https://github.com/AbhinavPeri/agent-centric-representations-tensorflow.git
[submodule "dreamerv3-torch"]
	path = dreamerv3-torch
	url = https://github.com/NM512/dreamerv3-torch.git
